/* .btn_list{
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
} */
.newgame_btn {
  color: #6A6AFF;
  font-size: 20px;
  background-color: #B9B9FF;
  text-decoration: none;
  padding: 10px;
  border:	#AAAAFF 2px solid;
  border-radius: 10px;
}
.newgame_btn:hover {
  color: #B9B9FF;
  background-color: #6A6AFF;
  text-decoration: none;
  padding: 10px;
  border:	#AAAAFF 2px solid;
  border-radius: 10px;
  cursor: pointer;
}
.card_grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.text{
  padding: 5px;
}