.footer{
  background-color: #003D79;
  padding: 20px;
}
.text_bar{
  color: white;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.text_group{
  display: flex;
  justify-content: space-between;
}
.text{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.btn_list{
  width: 600px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
}
.navbar_btn {
  color: #2894FF;
  font-size: 20px;
  background-color: #97CBFF;
  text-decoration: none;
  padding: 10px;
  border:	#84C1FF 2px solid;
  border-radius: 10px;
}
.navbar_btn:hover {
  color: #97CBFF;
  background-color: #2894FF;
  text-decoration: none;
  padding: 10px;
  border:	#84C1FF 2px solid;
  border-radius: 10px;
}
